/***********************
 *	General/Main Layout
***********************/
div.quadrant {
	float: left;
	width: 49%;
	height: 49%;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: black;
	border-width: .5px;
}

div#onepoint2 {
}

div#twopoint1 {
	clear: left;
}

.newline {
	clear:left;
}

/***********************
 *	Owner Fieldset
***********************/

#ownerForm {
	width:925px;
}

.person {
	width:7.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.text {
	width:17.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.widedropdown {
	width:17.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.narrowdropdown {
	width:7.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.checkbox {
	width:7.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

/***********************
 *	Details Fieldset
***********************/
#detailsForm {
	width:600;
}

.address {
	width:100%;
	float:left;
	text-align:left;
	font-weight:bold;
	vertical-align:top;
}

.city {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.state {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.zip {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.email {
	width:66.7%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.phone {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}