/***********************
 *	General/Main Layout
***********************/
#header {
	margin-top: 10px;
	border-bottom: solid;
	border-color: black;
	border-width: .5px;
	text-align: center;
}

div.quadrant {
	float: left;
	width: 49%;
	height: 40%;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: black;
	border-width: .5px;
}

div#onepoint1 {
	clear: left;
	height: 40%;
	width: 67%;
}

div#onepoint2 {
	height: 40%;
	width: 23%;
}

div#twopoint1 {
	clear: left;
}

div#twopoint2 {
	
}

.newline {
	clear:left;
}

#footer {
	clear:left;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	margin: 0 25px 0 25px;
	padding: 10px;
	text-align: center;
}

/***********************
 *	Owner Fieldset
***********************/

#ownerForm {
	width:925px;
}

.person {
	width:7.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.text {
	width:17.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.widedropdown {
	width:17.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.narrowdropdown {
	width:7.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

.checkbox {
	width:7.5%;
	float:left;
	text-align:center;
	font-weight:bold;
}

/***********************
 *	Details Fieldset
***********************/
#detailsForm {
	width:600;
}

.address {
	width:100%;
	float:left;
	text-align:left;
	font-weight:bold;
	vertical-align:top;
}

.city {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.state {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.zip {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.email {
	width:66.7%;
	float:left;
	text-align:left;
	font-weight:bold;
}

.phone {
	width:33.3%;
	float:left;
	text-align:left;
	font-weight:bold;
}